.formulario-contrato{
    background-color: white;
    width: 1000px;
    height: 100%;
    justify-content: center;
    align-items: center;
     margin-top: 20vh;
     padding: 2rem;
  }

  fieldset{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;
  }

  textarea{
    border: 0px;
    width: 50%;
    height: fit-content;
  }

  p{
    font-style: normal;
    font-family: Arial;
    font-size: 12;
  }


  span{
    font-weight: bold;
    font-size: 20px;
  }

  .inputs{
    width: 100%;
    height: auto;
    border: 0px;
    font-family: Arial;
    font-size: 10;
  }
  .inputs:focus-visible {
    outline: none;
    border: none;
  }

  h2, h3{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
   
  }

  .dados-contratante{
    margin-bottom: 1rem;
  }

  .dados-contratado{
    margin-top: 1rem;
  }

  .assinaturas{
    margin-top: 2rem;
    width: 100%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }



  .contrato{
    background-color: black;
    width: 40%;
    height: 2px;
    margin-top: 1rem ;
  }

button{
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-family: 'Zen Dots';
  font-size: 12px;
  margin: 2rem 0;
}

 