*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.conteudo-contato{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 1000px;
    padding: 7rem 2rem 0 2rem;
    justify-content: center;
    align-items: center;
}

.superior-contato{
    /* border: solid black 2px; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.central-contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Lora', 'Arial';
    gap: 4rem;
}

.texto-central{
    width: 400px;
    height: 240px;

}
.titulo-contato{
    font-family: 'Zen Dots';
    font-size: 3rem;
    color:var(--global-brand-secondary);
}

.mapa{
    width: 40%;
    height: 85%;
    /* border-radius: 20px; */
}

.text-local{
    text-align: justify;
    font-family: 'Lora';
    font-size: large;
    width: 20%;
}

.inferior-contato{
    background-color: gray;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    margin-top: 1%;
}

.campo-digitar{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

textarea {
    padding: 12px 15px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #ccc;
    font-size: 16px;
    font-family: 'Lora';
    resize: none;
}

.centralizar-contato{
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5%;
} 

.text-inferior{
    margin-top: 1%;
    height: 19%;
    font-family: 'Zen Dots';
    font-size: 3rem;
    color:var(--global-brand-secondary);
    /* margin-top: 1%; */
}


/* Tela pequena */
@media (max-width: 540px){

    .central-contato{
        flex-wrap: nowrap;
    }
    footer{
        height: 40px;
    }
    
    .footer-text{
        margin: 0 15px;
        font-size: small;
    }
}

/* Tela média */
@media (max-width: 720px){
    .conteudo-contato{
        width: 100%;
        display: flex;
    }
    .central-contato{
        width: 100%;
        gap: 1rem;
        display: flex;
        flex-wrap: nowrap;
    }
    .foot{
        height: 50px;
    }

    .footer-text{
        margin: 0 15px;
        font-size: large;
    }
}

/* Tela grande */
@media (max-width: 960px){

}

/* Tela grande+ */
@media (max-width: 1140px){
}

/* BOTÃO */
.button{
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Zen Dots",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button:hover{
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button:focus{
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .button:not(:disabled){
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button:not(:disabled):hover{
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }