*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Campos independentes */
hr{
    width: 100%;
    height: 3px;
    border:#ff823a solid;
}

/* Conteúdo Superior */
.conteudo-superior{
    display: flex;
    justify-content: space-between;
    height: 50vh;
    background-image: url(../img/fundo-empresa.jpg);
    background-repeat:no-repeat;
    background-position-y: bottom;
    overflow:hidden;
    align-content: center;
    gap: 2rem;
    padding: 9rem 2rem 0 2rem;
}

.container-superior{
    height: 100%;
    width: 100%;
    text-align: center;
}

.titulo-superior{
    font-family: 'Zen Dots', 'Arial';
    font-size: 60px;
    color:var(--global-brand-secondary);
}

/* Conteúdo Central */
.conteudo-central{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 40px 7vw 20px 7vw;
    gap: 3%;
}

.campo-texto{
    width: 50%;
}

p{
    font-family: 'Lora', 'Arial';
    font-size: medium;
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 10px;
}

.imagem-conteudo{
    width: 47%;
}

.imagem-empresa{
    width: 100%;
    height: 300px;
    border: solid #ff823a 3px;
}

@media screen and (max-width: 550px){
    
}

/* Tela média */
@media screen and (min-width: 551px) and (max-width: 720px){
    
}

/* Tela grande */
@media screen and (min-width: 721px) and (max-width: 960px){

}

/* Tela grande+ */
@media screen and (min-width: 961px) and (max-width: 1140px){
}
