*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteudo-empresa{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 7rem 0 0 0;
    justify-content: center;
    align-items: center;
}

.superior-empresa{
    /* border: solid black 2px; */
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo-empresa{
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
    color:var(--global-brand-secondary);
}

.imagem-empresa{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 1100px;
    height: 300px;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 50px;
}

.central-empresa{
    /* border: solid black 2px; */
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.inferior-empresa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 1100px;
    margin-bottom: 2%;
}
.texto-empresa{
    font-family: 'Lora', 'Arial';
    text-align: justify;
    align-items: center;
    display: flex;
    height: 300px;
    width: 400px;
    border-radius: 20px;
}
.imagem-empresa2{
    height: 300px;
    width: 400px;
    border-radius: 20px;
}

@media (max-width: 540px){
    .superior-empresa{
    width: 100%;
    display: flex;
}
.imagem-empresa2{
    height: 340px;
    width: 400px;
   
}
.central-empresa{
    padding:20px;
    gap:1rem;
}
.central-empresa .imagem-empresa2{
    order:-1;
}
.inferior-empresa{
    gap:1rem;
}
    footer{
        height: 40px;
    }
    
    .footer-text{
        margin: 0 15px;
        font-size: small;
    }
}

/* Tela média */
@media (max-width: 720px){
    .superior-empresa{
        width: 100%;
        display: flex;
    }
    .central-empresa{
        padding:20px;
        gap:1rem;
    }
    .central-empresa .imagem-empresa2{
        order:-1;
    }
    .inferior-empresa{
        gap:1rem;
    }
    .footer{
        height: 50px;
    }

    .footer-text{
        margin: 0 15px;
        font-size: large;
    }
}

/* Tela grande */
@media (max-width: 960px){

}

/* Tela grande+ */
@media (max-width: 1140px){
}
