/* Animações CSS */
@keyframes animação{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: -400%;}
}

/* Conteúdo superior */
.conteudo-superior{
    display: flex;
    justify-content: space-between;
    height: 85vh;
    background-image: url(../img/man-builder-with-helmet-his-hands-copy-space.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    overflow:hidden;
    align-content: center;
    gap: 2rem;
    padding: 7rem 2rem 0 2rem;
}

.container-texto-superior{
    width: 50%;
    height: 100%;
}

.titulo-superior{
    font-family: 'Zen Dots', 'Arial';
    font-size: 76px;
    color:var(--global-brand-secondary);
}

.texto-superior{
    font-family: 'Lora', 'Arial';
    font-size: large;
    font-weight: 600;
    text-indent: 30px;
}

/* Conteúdo central */
.conteudo-central{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-central{
    margin: 35px 0 35px 0;
    font-family: 'Zen Dots','Arial';
    font-size: 70px;
    color:var(--global-brand-secondary);
}

.cards-home{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 6rem;
    text-align: center;
}

.card-servico{
    width: 23%;
}

.imagem-card{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.conteudo{
    font-family: 'Nerko One','Arial';
    width: 100%;
    font-size: x-large;
    margin-top: 10px;
}

.link-h3{
    transition: 0.1s;
    font-family: 'Nerko One','Arial';
    font-size: xx-large;
}

.link-h3:hover{
    transition: 0.1s;
    color: var(--global-brand-secondary);
}

.texto-descricao{
    margin-top: 10px;
    font-family: 'Lora', 'Arial';
    font-size: medium;
}

.container-carrossel{
    overflow-x: visible;
    width: 80%;
    height: 400px;
    overflow: hidden;
    float: left;
}
.container-carrossel .imagem-carrossel{
    width: 500%;
    animation-name: animação;/*animar a propriedade*/
    animation-duration: 20s;/*definir um tempo pra animação*/
    animation-iteration-count: infinite;
}
.container-carrossel .imagem-carrossel img{
width: 19.9%;
}
.imagem-carrossel{
    width: 100%;
    height: 100%;
}

/* Conteúdo inferior */
.conteudo-inferior{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0 125px 0;
    gap: 3rem;
    text-align: center;
    align-items: center;
}

.titulo-inferior{
    display: flex;
    justify-content: center;
    font-family: 'Zen Dots', cursive;
    font-size: 60px;
    color:var(--global-brand-secondary);
    margin: 35px 0 35px 0;
}

.conteudo-novidades{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.imagem-novidade{
    border-radius: 20px;
    width: 400px;
    height: 300px;
}

.container-texto-inferior{
    text-indent: 30px;
    width: 500px;
    text-align: justify;
    font-family: 'Lora', 'Arial';
    font-size: large;
}

/* Tela pequena */
@media screen and (max-width: 550px){
    .conteudo-superior{
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        height: 35vh;
        width: 100vw;
        gap: 0px;
        padding: 0;
    }

    .container-texto-superior{
        display: none;
    }

    /* Conteúdo central */
    .conteudo-central{
        margin: 10px 0 10px 0;
        justify-content: center;
    }

    .titulo-central{
        text-align: center;
        font-size: 50px;
    }

    .cards-home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0px;
    }

    .card-servico{
        width: 70%;
        margin: 10px;
    }

    .cards-home{
        gap: 0px;
    }

    .container-carrossel{
        padding: 0px;
        margin-top: 10vh;
        width: 100%;
        height: 30vh;
    }
    
    .imagem-carrossel{
        width: 100%;
        height: 30vh;
    }

    /* Conteúdo Inferior */
    .titulo-inferior{
        display: flex;
        justify-content: center;
        font-family: 'Zen Dots', cursive;
        font-size: 50px;
        color:var(--global-brand-secondary);
        margin: 0;
    }
    
    .conteudo-novidades{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .imagem-novidade{
        width: 90%;
        height: 250px;
        border-radius: 20px;
    }
    
    .container-texto-inferior{
        font-family: 'Lora', 'Arial';
        font-size: large;
    }
}

/* Tela média */
@media screen and (min-width: 551px) and (max-width: 720px){
    .conteudo-superior{
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        height: 40vh;
        width: 100vw;
        gap: 0px;
        padding: 0;
    }

    .container-texto-superior{
        display: none;
    }

    /* Conteúdo central */
    .conteudo-central{
        margin: 10px 0 10px 0;
        justify-content: center;
    }

    .titulo-central{
        text-align: center;
        font-size: 50px;
    }

    .cards-home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0px;
    }

    .card-servico{
        width: 80%;
        margin: 20px 0;
    }

    .cards-home{
        gap: 0px;
    }

    .imagem-card{
        height: 275px;
    }

    .container-carrossel{
        padding: 0px;
        margin-top: 10vh;
        width: 100vw;
        height: 30vh;
    }
    
    .imagem-carrossel{
        width: 100%;
        height: 30vh;
    }

    /* Conteúdo Inferior */
    .titulo-inferior{
        display: flex;
        justify-content: center;
        font-family: 'Zen Dots', cursive;
        font-size: 50px;
        color:var(--global-brand-secondary);
        margin: 0;
    }
    
    .conteudo-novidades{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .imagem-novidade{
        width: 90%;
        height: 300px;
        border-radius: 20px;
    }
    
    .container-texto-inferior{
        font-family: 'Lora', 'Arial';
        font-size: large;
    }
}

/* Tela grande */
@media screen and (min-width: 721px) and (max-width: 960px){
    .conteudo-superior{
        height: 550px;
        gap: 0;
        padding: 7rem 0;
    }

    .container-texto-superior{
        width: 80%;
        margin-left: 1rem;
    }

    .titulo-superior{
        font-size: 50px;
    }

    .texto-superior{
        font-family: 'Lora', 'Arial';
        font-size: medium;
        font-weight: 600;
        text-indent: 20px;
        font-size: 16px;
    }

    /* Conteúdo central */
    .conteudo-central{
        margin: 0;
        justify-content: center;
    }

    .titulo-central{
        text-align: center;
        font-size: 60px;
    }

    .cards-home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0px;
    }

    .card-servico{
        width: 70%;
        margin: 20px 0;
    }

    .cards-home{
        gap: 0px;
    }

    .imagem-card{
        height: 375px;
    }

    .conteudo{
        font-family: 'Nerko One','Arial';
        width: 100%;
        font-size: 40px;
        margin-top: 10px;
    }
    
    .texto-descricao{
        margin-top: 10px;
        font-family: 'Lora', 'Arial';
        font-size: 20px;
    }

    .container-carrossel{
        padding: 0px;
        margin-top: 10vh;
        width: 100%;
        height: 40vh;
    }
    
    .imagem-carrossel{
        width: 100%;
        height: 40vh;
    }

    /* Conteúdo Inferior */
    .titulo-inferior{
        display: flex;
        justify-content: center;
        font-family: 'Zen Dots', cursive;
        font-size: 50px;
        color:var(--global-brand-secondary);
        margin: 0;
    }
    
    .conteudo-novidades{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .imagem-novidade{
        width: 90%;
        height: 300px;
        border-radius: 20px;
    }
    
    .container-texto-inferior{
        font-family: 'Lora', 'Arial';
        font-size: large;
    }
}

/* Tela grande+ */
@media screen and (min-width: 961px) and (max-width: 1140px){
    /* Conteúdo Superior */
    .container-texto-superior{
        width: 80%;
    }

    /* Conteúdo Central */
    .cards-home{
        margin-bottom: 35px;
    }

    /* Conteúdo Inferior */
    .titulo-inferior{
        display: flex;
        justify-content: center;
    }
    
    .conteudo-novidades{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .imagem-novidade{
        width: 90%;
        height: 500px;
        border-radius: 20px;
    }
    
    .container-texto-inferior{
        font-family: 'Lora', 'Arial';
        font-size: large;
    }
}