*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/fundo-login.png);
    background-position: center;
    background-repeat: no-repeat;
}

.alert-success {
    background-color: green;
}

.alert-danger {
    background-color: red;
}

.conteudo-login{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 100vh;
    /* padding: 7rem 2rem 0 2rem; */
    justify-content: center;
    align-items: center;
    width: 100%;  
}


fieldset{
    height: 400px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #a6a6a6b7;
    margin-bottom: 40%;
    margin-top: 120px;
    border: solid black 1.5px;
}
legend{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container-login, .container-cadastro {
    flex-wrap: wrap;
    display: flex;
    height: 200px;
    gap: 1rem;
    justify-content: center;

}
.inputs{
    border-radius: 1rem;
    border: none;
    padding: .5rem 0 .5rem 10px;
    font-family: 'Zen Dots';
}

.inputs:focus-visible{
    outline: none;
    border: none;
}

.botao-entrar{
    border-radius: 1rem;
    border: none;
    font-family: 'Zen Dots';
    font-size: 12px;
    padding: .5rem 1rem;
}

.botao-cadastrar{
    height: 1.5rem;
    width: 5.2rem;
    border-radius: 1rem;
    border: none;
    font-family: 'Zen Dots';
    font-size: 12px;
}

.formulario-login {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
}

.imagem-logo {
    height: 100px;
}

footer{
    background-color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
}