* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteudo-login {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 75vh;
    /* padding: 7rem 2rem 0 2rem; */
    justify-content: center;
    align-items: center;
    
}


fieldset{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #a6a6a6b7;
    margin-bottom: 40%;
    margin-top: 120px;
}
legend{
    display: flex;
    justify-content: center;
    text-align: center;
}
.centralizar-login {
    flex-wrap: wrap;
    display: flex;
    height: 200px;
    gap: 1rem;
    justify-content: center;

}
.inputs{
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    padding-left: 10px;
}
.botao-contato{
    height: 1.5rem;
    width: 3rem;
    border-radius: 1rem;
    border: none;
}
.formulario-login {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
}

.imagem-logo {
    height: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}