@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Nerko+One&family=Zen+Dots&display=swap');

#conteudo-portifolio{
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    width: 100%;
    
}

.titulo-portifolio{
    width: 100%;
    text-align: center;
    font-family: 'Zen Dots', cursive;
    font-size: 2.5rem;
    color:var(--global-brand-secondary);
}

.container-portifolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 50px;
}

.imagem{
    display: flex;
    height: 400px;
    width: 400px;
    border: solid black 1px;
    border-radius: 20px;
}
/* Tela pequena */
@media (max-width: 540px){
    .imagem{
        height: 350px;
        width: 350px;
    }
    #conteudo-portifolio {
    padding-top: 110px;
    }
    .titulo-portifolio {
    height: 120px;
    }
    footer{
        height: 40px;
    }
    
    .footer-text{
        margin: 0 15px;
        font-size: small;
    }
}


@media screen and (min-width: 551px) and (max-width: 720px){
    #conteudo-portifolio{
        display: flex;
        flex-wrap: wrap;
        padding-top: 150px;
        width: 100%;
        
    }
    
    .titulo-portifolio{
        width: 100%;
        text-align: center;
        font-family: 'Zen Dots', cursive;
        font-size: 2.5rem;
        color:var(--global-brand-secondary);
    }
    
    .container-portifolio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 50px;
        width: 100%;
        height: auto;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 50px;
    }
    
    .imagem{
        display: flex;
        height: 400px;
        width: 400px;
        border: solid black 1px;
    }
}
@media screen and (min-width: 721px) and (max-width: 960px){
    #conteudo-portifolio{
        display: flex;
        flex-wrap: wrap;
        padding-top: 150px;
        width: 100%;
        
    }
    
    .titulo-portifolio{
        width: 100%;
        text-align: center;
        font-family: 'Zen Dots', cursive;
        font-size: 2rem;
        color:var(--global-brand-secondary);
    }
    
    .container-portifolio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 50px;
        width: 100%;
        height: auto;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 50px;
    }
    
    .imagem{
        display: flex;
        height: 400px;
        width: 400px;
        border: solid black 1px;
    }
}