main{
    min-height: 95vh;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.card-body {
    text-align: center;
}

.card-img-top{
    width: 300px;
    height: 220px;
    border: solid #ff8e4d 3px;
    border-radius: 3px;
}

a:hover{
    color:#ff8e4d;
}

.footer-text{
    margin: 0 15px;
    font-size: small;
}

/* Tela pequena */
@media (max-width: 540px){
    footer{
        display: flex;
        height: 60px;
        background-color: #B6B6B6;
        bottom: 0;
        align-items: center;
        position: static;
    }
    
   
}
@media (max-width: 1140px){
    footer{
        display: flex;
        height: 60px;
        background-color: #B6B6B6;
        bottom: 0;
        align-items: center;
        position: static;
    }
}

@media (max-width: 960px){
    footer{
        display: flex;
        height: 60px;
        background-color: #B6B6B6;
        bottom: 0;
        align-items: center;
        position: static;
    }
}