@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Nerko+One&family=Zen+Dots&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #DDDDDD;
    width: 100vw;
    overflow-x: hidden;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-image: linear-gradient(to bottom, #A6A6A6, #d6d6d685);
}

.logo{
    overflow-x: visible;
    width: 100px;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

a{
    position: relative;
    transition: 0.1s;
    font-family: 'Zen Dots', cursive;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: .25rem .5rem;
}

a:hover{
    transition: 0.1s;
    color: white;
}

.btn-mobile{
    display: none;
}

#pag-atual{
    color: #F25D07;
}

#pag-atual:hover{
    color: white;
}

footer{
    display: flex;
    height: 60px;
    background-color: #B6B6B6;
    bottom: 0;
    align-items: center;
}

.footer-text{
    margin: 0 150px;
    font-family:'Arial' cursive;
    font-weight: 600;
    font-size: larger;
}

/* Tela pequena */
@media (max-width: 540px){
    footer{
        height: 40px;
    }
    
    .footer-text{
        margin: 0 15px;
        font-size: small;
    }

    .btn-mobile{
        display: block;
    }

    .nav-list{
        background: #d6d6d685;
        flex-direction: column;
        position: absolute;
        top: 116px;
        right: 0;
        width: 50vw;
        height: 40vh;
        align-items: center;
        justify-content: space-around;
    }

    .nav-list li{
        margin-left: 0;
    }
}

/* Tela média */
@media screen and (min-width: 551px) and (max-width: 720px){
    .foot{
        height: 50px;
    }

    .footer-text{
        margin: 0 15px;
        font-size: large;
    }

    .btn-mobile{
        display: block;
    }

}

/* Tela grande */
@media screen and (min-width: 721px) and (max-width: 960px){

}

/* Tela grande+ */
@media screen and (min-width: 961px) and (max-width: 1140px){
}